@model MedControl.ViewModels.TransacaoViewModel

@{
    ViewData["Title"] = "Criar Transação";
}

<div class="container mt-4">
    <h2>@ViewData["Title"]</h2>

    <form asp-action="Criar" method="post">

        <div class="form-group">
            <label asp-for="IdEstoque" class="control-label"></label>
            <input asp-for="IdEstoque" class="form-control" />
            <span asp-validation-for="IdEstoque" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="IdFuncionario" class="control-label">Funcionario</label>
            <select asp-for="IdFuncionario" asp-items="@ViewBag.Funcionarios" class="form-control">
                <option value="">Selecione o Funcionario</option>
            </select>
            <span asp-validation-for="IdFuncionario" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Quantidade" class="control-label"></label>
            <input asp-for="Quantidade" class="form-control" />
            <span asp-validation-for="Quantidade" class="text-danger"></span>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-success">Salvar</button>
            <a asp-action="Index" class="btn btn-primary">Cancelar</a>
        </div>
    </form>
</div>
