@model List<MedControl.ViewModels.EstoqueViewModel>

@{
    ViewData["Title"] = "Lista de Estoques";
}
<div class="container mt-4">
    <h2>Estoques</h2>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome do Medicamento</th>
                <th>Quantidade Disponível</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var estoque in Model)
            {
                <tr>
                    <td>@estoque.Id</td>
                    <td>@estoque.NomeMedicamento</td>
                    <td>@estoque.QuantidadeDisponivel</td>
                </tr>
            }
        </tbody>
    </table>
    <a asp-action="ExportarExcel" asp-controller="Estoque" class="btn btn-success">Exportar Excel</a>
    <a asp-action="Index" asp-controller="Home" class="btn btn-primary">Voltar</a>
</div>
