@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo ao MedControl</h1>
    <p class="lead">Escolha uma opção abaixo:</p>

    <div class="row">
        <div class="col-md-4">
            <a asp-action="Index" asp-controller="Funcionario" class="btn btn-primary btn-lg btn-block">Funcionários</a>
        </div>
        <div class="col-md-4">
            <a asp-action="Index" asp-controller="UnidadeTrabalho" class="btn btn-primary btn-lg btn-block">Unidades de Trabalho</a>
        </div>
        <div class="col-md-4">
            <a asp-action="Index" asp-controller="Departamento" class="btn btn-primary btn-lg btn-block">Departamentos</a>
        </div>
        <div class="col-md-4">
            <a asp-action="Index" asp-controller="Medicamento" class="btn btn-primary btn-lg btn-block">Medicamentos</a>
        </div>
        <div class="col-md-4">
            <a asp-action="Index" asp-controller="Estoque" class="btn btn-primary btn-lg btn-block">Estoques</a>
        </div>
        <div class="col-md-4">
            <a asp-action="Index" asp-controller="Transacao" class="btn btn-primary btn-lg btn-block">Transações</a>
        </div>
    </div>
</div>
