@{
    ViewData["Title"] = "Sobre Nós";
}
<h1>@ViewData["Title"]</h1>

<p>
     O projeto MedControl consiste em um sistema para automatização de farmácias hospitalares com um escopo específico, concentrando-nos na distribuição de suprimentos para setores internos, como enfermarias, centros cirúrgicos, laboratórios, entre outros.
</p>

<p>
    Essa iniciativa integra automação, controle de estoque em tempo real, segurança por meio de restrições de acesso e relatórios analíticos para criar uma solução abrangente que otimiza a gestão interna da farmácia, assegurando eficiência, precisão e confiabilidade nas operações.
</p>

<h2>Objetivo</h2>

<ul>
    <li>Eficiência Operacional: A automatização do processo de entrega e a conferência automática de peso reduzem o tempo de manipulação e minimizam erros.</li>
    <li>Controle Rigoroso de Estoque: A precisão nas transações e o registro em tempo real do estoque proporcionam um controle rigoroso sobre os medicamentos disponíveis.</li>
    <li>Segurança: Restrições de acesso garantem que apenas funcionários autorizados possam realizar transações, aumentando a segurança do sistema.</li>
    <li>Rastreabilidade: Associar transações a funcionários e departamentos permite uma rastreabilidade completa das operações, facilitando auditorias e identificação de problemas.</li>
    <li>Confiabilidade nas Entregas: A conferência automática de peso assegura que nossas entregas sejam precisas, evitando erros na distribuição de medicamentos. </li>
    <li>Relatório: Os relatorios gerados no estoque fornecem informações em tempo real sobre o estado atual do estoque de medicamentos. Permite uma visão imediata da disponibilidade de medicamentos, facilitando a tomada de decisões sobre reabastecimento e prevenindo possíveis escassezes.</li>
</ul>

