@model MedControl.ViewModels.FuncionarioDetalhesViewModel

<div>
    <h4>Detalhes do Funcionário</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Nome</dt>
        <dd class="col-sm-10">@Model.Funcionario.Nome</dd>

        <dt class="col-sm-2">Cargo</dt>
        <dd class="col-sm-10">@Model.Funcionario.Cargo</dd>

        <dt class="col-sm-2">Departamento</dt>
        <dd class="col-sm-10">@Model.NomeDepartamento</dd>

        <dt class="col-sm-2">Unidade de Trabalho</dt>
        <dd class="col-sm-10">@Model.NomeUnidadeTrabalho</dd>
    </dl>
</div>
<a asp-action="Index" asp-controller="Funcionario" class="btn btn-primary">Voltar</a>
