@model MedControl.ViewModels.FuncionarioViewModel

@{
    ViewData["Title"] = "Editar Funcionário";
}

<div class="container mt-4">
    <h2>@ViewData["Title"]</h2>

    <form asp-action="Editar" method="post">
        <input type="hidden" asp-for="Id" />

        <div class="form-group">
            <label asp-for="Nome" class="control-label">Nome</label>
            <input asp-for="Nome" class="form-control" />
            <span asp-validation-for="Nome" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Cargo" class="control-label">Cargo</label>
            <input asp-for="Cargo" class="form-control" />
            <span asp-validation-for="Cargo" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Identificacao" class="control-label">Identificação</label>
            <input asp-for="Identificacao" class="form-control" />
            <span asp-validation-for="Identificacao" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Telefone" class="control-label">Telefone</label>
            <input asp-for="Telefone" class="form-control" />
            <span asp-validation-for="Telefone" class="text-danger"></span>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-success">Salvar</button>
            <a asp-action="Index" class="btn btn-primary">Cancelar</a>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
